{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %} 
    <h1>{{title}}</h1>
</br></br>
    <p>
        <h3>En vista de la situación actual en la cual la comodidad del</h3>
        <h3>hogar y la necesidad de atención eficaz es tan abundante así </h3>
        <h3>como la inseguridad en la adquisición de bebidas y licores, </h3>
        <h3>se propuso la realización de este plan de negocio, cuyo </h3>
        <h3>título es:LICORERA PASCUALINA 24/7; la cual ofrece servicio </h3>
        <h3>a domicilio las 24 horas y los 7 dias a la semana cubriando </h3>
        <h3>todo el area metropolitana del balle de aburra</h3>
    </br></br>
        <h3>Es un placer atenderte, LICORERA PASCUALINA 24/7 siempre</h3>
        <h3>esta disponible a su cervicio con los mejores licoles</h3>
        <h3>de la ciudad y a los mejor precio. </h3>
    </br></br>
        <h3>contactos: +573054568987  +573132654558 6045213654</h3>
    </p>
{% endblock %}
